
/**
 * Helper classes taken from Bootstrap.css
 */

.fade {
  opacity: 0;
  @include transition(opacity .15s linear);
  &.in {
    opacity: 1;
  }
}

// Fix the github ribbon issue with border-box everywhere
.github-fork-ribbon:before, .github-fork-ribbon:after {
  box-sizing: content-box;
}
