.slds-tooltip {
    position: absolute;
}

.slds-button--neutral {
    &.active {
        background-color: $color-background-button-default-active;
    }
}

.slds-button--brand {
    &.active {
        background-color: $color-background-button-brand-active;
    }
}

/**
 * This is required in order to position the login button
 */
.slds-tabs--scoped {
    position: relative;
}
