.slds-tooltip {
    position: absolute;
}

.slds-button--neutral {
    &.slds-is-selected {
        background-color: $color-background-button-default-active;
    }
}

.slds-button--brand {
    &.slds-is-selected {
        background-color: $color-background-button-brand-active;
    }
}

.slds-button--destructive {
    &.slds-is-selected {
        background-color: #870500; //$color-background-button-destructive-active;
    }
}

.slds-borderless {
    border-width: 0;
}
