.slds-tabs__login {
    position: absolute;
    right: 0;
    margin-right: $spacing-medium;
    margin-top: $spacing-xx-small;
}

.bootforce-pliant {
    display: inline-block;
    cursor: pointer;
    &.slds-hide {
        display: none;
    }
}
