<tr class="slds-hint-parent">
  <td class="slds-row-select">
    <label class="slds-checkbox" for="select-row1">
      <input name="select-row1" type="checkbox" id="select-row1" />
      <span class="slds-checkbox--faux"></span>
      <span class="slds-form-element__label slds-assistive-text">select row1</span>
    </label>
  </td>
  <td data-label="opportunity-name" role="row">
    <a href="#" class="slds-truncate" data-bind="text: name"></a>
  </td>
  <td data-label="contact"><a href="#" class="slds-truncate" data-bind="text: title"></a></td>
  <td data-label="activity">
    <span class="slds-truncate" data-bind="text: department"></span>
  </td>
  <td data-label="stage">
    <span class="slds-truncate" data-bind="text: mobile"></span>
  </td>
  <td data-label="amount">
    <span class="slds-truncate" data-bind="text: email"></span>
  </td>
  <td data-label="amount">
    <span class="slds-truncate" data-bind="text: leadSource"></span>
  </td>
</tr>
